    @model IEnumerable<DoAnCoSo.Models.EF.Table>

@{
    ViewBag.Title = "Danh sách sản phẩm";
}
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">
                        <a href="/"><i class="fa fa-angle-double-right" aria-hidden="true"></i>@ViewBag.CateName</a>
                    </li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5 style="font-family: 'Pacifico', cursive; font-size: 22px;" >Danh mục bàn</h5>
                    </div>
                    @Html.Action("MenuLeftTable", "Menu", new { id = ViewBag.CateId })
                </div>
            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                   @* <li>
                                        <span class="type_sorting_text">Mặc định</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Mặc định</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên sản phẩm</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Show</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>*@
                                    <li style="width: 100px; padding-left:0px;">
                                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
                                        <input type="text" name="datetime" id="datetimepicker" placeholder=" Chọn ngày giờ">
                                    </li>
                                </ul>
                                @*<div class="pages d-flex flex-row align-items-center">
                                        <div class="page_current">
                                            <span>1</span>
                                            <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span> 3</div>
                                        <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div>*@
                            </div>

                            <!-- Product Grid -->
                            <div class="table-grid">

                                @Html.Action("Partial_View_Table", "Tables")
                            </div>

                            <!-- Product Sorting -->
                            @* <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                    <ul class="product_sorting">
                                        <li>
                                            <span>Show:</span>
                                            <span class="num_sorting_text">04</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><span>01</span></li>
                                                <li class="num_sorting_btn"><span>02</span></li>
                                                <li class="num_sorting_btn"><span>03</span></li>
                                                <li class="num_sorting_btn"><span>04</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css"></script>

    <script>

        $(function () {
            $(".datepicker").datepicker({

                minDate: 'Today +1d',
                maxDate: "+7d"
            });
        });


        flatpickr("#datetimepicker", {
            enableTime: true,
            minDate: "today",
            maxDate: new Date().fp_incr(90),
            time_24hr: true,
            minDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
            dateFormat: "Y-m-d H:i",// Tính toán ngày tối đa là ngày hiện tại cộng thêm 7 ngày
        });
        $(function () {
            $("#datetimepicker").change(function () {
                // Lấy các giá trị được nhập vào trên form
                const date = document.getElementById("datetimepicker").value;
                const id = document.getElementById("space").value;
                $.ajax({
                    url: "/Tables/Partial_View_Table",
                    type: "POST",
                    data: { date: date, id:id},
                    success: function (data) {
                        $('.table-grid').html(data);
                    },
                });
            });
        })
    </script>
} 