
@{
    ViewBag.Title = "Đặt bàn thành công";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12" id="load_data" style="text-align: center; font-family: 'Satisfy', cursive; ">
                    <h1 style="text-align: center; font-family: 'Dancing Script', cursive; " >Đặt bàn thành công!</h1>
                    <h3 style="text-align: center; font-family: 'Dancing Script', cursive; color: goldenrod; " >Cảm ơn quý khách đã đặt bàn!</h3>
                </div>
             
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>

}

