@{
    ViewBag.Title = "Đặt bàn";
}
<style>
    .error {
        color: red;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-family: 'Dancing Script', cursive; color: crimson;">
                        Đặt bàn
                    </h1>
                </div>
            </div>
            <hr />

            @if (ViewBag.CheckCartTable != null)
            {
                <div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-8">
                        @Html.Action("Partial_Checkout", "ShoppingCart")
                    </div>
                    <div class="col-md-4">
                        @Html.Action("Partial_Item_Table_ThanhToan", "ShoppingCart")
                        <hr />
                        @if (ViewBag.CheckCart != null)
                        {
                            @Html.Action("Partial_Item_ThanhToan", "ShoppingCart")
                        }
                        else
                        {
                            <div>
                                <h5>Quý khách có thể đặt trước<a href="/thuc-don"> món ăn</a>!</h5>
                            </div>
                        }
                    </div>

                </div>
            }
            else
            {
                <div>
                    <h5>Vui lòng thêm <a href="/danh-muc-ban/sanh-tiec-hoi-nghi-1"> bàn</a> vào giỏ hàng!</h5>
                </div>
            }

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
@*    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
*@    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css"></script>
    <script>
        function Onfailure(rs) {
            if (!rs.Success) {
                $('#show_success').html("Bạn mua hàng thất bại! Xin vui lòng thử lại");
            }
        }

        function OnSuccessCO(rs) {
            debugger;
            location.href = "/ShoppingCart/CheckOutSuccess";
        }

        $(document).ready(function () {
            $('body').on('change', '#drTypePayment', function () {
                var type = $(this).val();
                $('#load_form_payment').hide();
                if (type == "2") {
                    $('#load_form_payment').show();
                }
            });
            $('#myForm').validate({
                rules: {
                    'customername': {
                        required: true
                    },
                    'phone': {
                        required: true,
                    },
                    'address': {
                        required: true
                    },
                    'datetime': {
                        required: true
                    },
                    'email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'customername': 'Không được để trống họ và tên',
                    'phone': 'Không được để trống số điện thoại',
                    'address': 'Không được để trống địa chỉ',
                    'datetime': 'Không được để trống ngày đặt',
                    'email': 'Email không hợp lệ'
                }
            });
        });
        $(function () {
            $(".datepicker").datepicker({

                minDate: 'Today +1d',
                maxDate: "+7d"
            });
        });


        flatpickr("#datetimepicker", {
            enableTime: true,
            minDate: "today",
            maxDate: new Date().fp_incr(90),
            time_24hr: true,
            minDate: new Date(new Date().getTime() + 24 * 60 * 60 * 1000),
            dateFormat: "Y-m-d H:i",// Tính toán ngày tối đa là ngày hiện tại cộng thêm 7 ngày
        });
    </script>
}
