@model IEnumerable<DoAnCoSo.Models.EF.Space>

@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories">
        @foreach (var item in Model)
        {
            if (ViewBag.CateId == item.id)
            {
                <li class="active" style="font-weight:700;"><a href="/danh-muc-ban/@item.alias-@(item.id)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.title</a></li>
            }
            else
            {
                <li><a id="space" style="font-weight:700;" href="/danh-muc-ban/@item.alias-@(item.id)">@item.title</a></li>

            }
        }
    </ul>
}

