@model IEnumerable<DoAnCoSo.Models.EF.ProductCategory>


<div class="banner" style="height:750px; margin-bottom:-6px;">
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title" style="margin-top: 76px; margin-bottom: 50px;">
                <h2 style="font-family: 'Dancing Script', cursive; color: crimson;">DANH MỤC</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="banner_item align-items-center" style="height:500px; background: url('/Uploads/images/icon/Screenshot1.png')">

                    <a href="/ban/" style="background: #f8f8f8; text-align: center; font-family: 'Satisfy', cursive; color: #a3290d; padding: 7px 5px; width: 100%; float: left; font-size: 21px; font-weight: bold; ">
                        
                            Gọi món tại bàn
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="height: 500px; background-image: url('/Uploads/images/icon/Untitled1.png')">

                    <a href="/ban/" style="background: #f8f8f8; text-align: center; font-family: 'Satisfy', cursive; font-size: 21px; font-weight: bold; color: #a3290d; padding: 7px 5px; width: 100%; float: left; ">
                        Đặt bàn
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style=" height: 500px; background-image: url('/Uploads/images/icon/Screenshot2121.png')">
                    <a href="/thuc-don/" style="background: #f8f8f8; text-align: center; font-family: 'Satisfy', cursive; font-size: 21px; font-weight: bold; color: #a3290d; padding: 7px 5px; width: 100%; float: left;">
                        Đặt món mang về
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
}

