  <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Uploads/images/icon/spm.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">NHÓM I</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/role" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Role
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin tức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Posts" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn hàng
                    </p>
                </a>
            </li>
            <!--<li class="nav-item">
    <a href="/admin/posts" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Quảng cáo-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý thực đơn
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục thực đơn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thực đơn</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý hệ thống
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Order</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hóa đơn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Đơn đặt bàn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Đơn đặt hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Giao nhận hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kiểm kê hàng tồn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Phiếu xuất kho vật dụng</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/account" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tài khoản
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/subcribe" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Subscribe
                    </p>
                </a>
            </li>

            <!--<li class="nav-item">
    <a href="/News" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Quản lý hệ thống-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>
@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()}
    </div>}