@model IEnumerable<DoAnCoSo.Models.EF.OrderDetail>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>          
                <th>Bàn</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Table != null)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Table.title</td>
                        <td>@item.quantity</td>
                    </tr>
                    i++;
                }

            }
        </tbody>
    </table>
}
